/*css style*/
@font-face{
    src: url('fonts/Akura Popo.otf');
    font-family: Akura Popo;
}
@font-face{
    src: url('fonts/Topic.ttf');
    font-family: Topic;
}
body{
    margin:0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#header.header-loader{
    opacity: 1;
    left:0;
}
#header{
    top: 0;
    z-index: 3;
    position: fixed;
    display: block;
    width: 100%;
    background: rgb(250,255,170);
    background: -moz-linear-gradient(left,  rgba(250,255,170,1) 0%, rgba(252,252,252,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(250,255,170,1) 0%,rgba(252,252,252,1) 100%);
    background: linear-gradient(to right,  rgba(250,255,170,1) 0%,rgba(252,252,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faffaa', endColorstr='#fcfcfc',GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1da36',GradientType=1 );
}
#container{
    position: relative;
    height: 555px;
    background: linear-gradient(to bottom, #f1da36 0%, #e9c362 100%);
    background: -webkit-linear-gradient(top, #f1da36 0%, #e9c362 100%);
}
#container.active{
    transition: transform 200ms cubic-bezier(0.2, 0.3, 0.25, 0.9);
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
    position: fixed;
    opacity: 0.7;
}
div.wrapper{
    margin-top: 30px;
    width:100%;
    display:  table;
    position: absolute;
}
div.body-bg.loader{
    opacity: 1;
    background-position: 0;
}
div.body-bg{
    background-size: cover;
    background-position: -20px;
    height: 100%;
    width:100%;
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s, background-position 1.8s;
    background-image: url(../images/bg.jpg);
}
/* .left-acide  .middle-section */
.left-acide, .right-acide, .middle-section{
    position: relative;
    display: table-cell;
    vertical-align: top;
}
.middle-section{
    padding: 10px;
    color:#fff;
    font-size: 40px;
    text-align: center;
}
.left-acide.loader{
    opacity: 1;
    left: 0;
}
.left-acide{
     width:400px;
    left:20px; 
    opacity: 0;
    transition: opacity 1.2s, left 1.6s;
    transition-delay: 0.2s;
}
.left-acide img{
    width:100%;
}
div.title-logo.loader{
    opacity: 1;
    transform: rotateY(0deg);
}
div.title-logo{
    position: relative;
    width:100%;
    height: 121px;
    left: 0;
    top: 0px;
    z-index: 2;
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotateY(30deg);
    transform: rotateY(30deg);
    transition: opacity 0.8s, transform 1.6s;
    transition-delay: 0.3s;
}
div.title-logo-loader img{
    width:100%;
    max-width: 300px;
}
.middle-section .inform{
    padding: 30px 0 0 0;
    font-family: Akura Popo;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.53);
    letter-spacing: 1px;
}
/* end .left-acide  .middle-section */
/* .menu */
ul{
    padding:0;
    margin: 0;
}
ul.menu{
    list-style-type: none;
    font-size: 19px;
    font-family: Akura Popo;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 49px;  
}
ul.menu>li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
ul.menu>li>a{
    text-decoration: none;
    color: #222e38;
    text-shadow: 2px 0px 1px #fff;
}
ul.menu>li .menu-hover {
    background:  url(../images/rubin.png) no-repeat;
    width: 14px;
    height: 14px;
    position:  absolute;
    top:100%;
    margin-left: -7px;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}
ul.menu>li>a:hover {
    color: #e40008;
}
ul.menu>li>a:hover ~ .menu-hover{
    opacity: 1;

}
/* end .menu */
/* .right-scide - Registration Form */
.right-acide{
    top: 0;
    width: 30%;
    position: relative;
    min-width: 300px;
    padding: 20px;
    color: #fff;
    vertical-align: middle;
}
.right-acide h3, p{
    margin: 0;
    font-weight: normal;
    padding: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.53);
}
.right-acide h3{
    font-size: 30px;
    font-family: Akura Popo;
    letter-spacing: 2px;
}
.right-acide p{
    font-size: 16px;
}
.right-acide section{
    position: relative;
}
@-webkit-keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.img-loader{
    width: 50px;
    height: 50px;
    right: 140px;
    margin-top: 10px;
    background: url(../images/loader.png) no-repeat;
    position: absolute;
    -webkit-animation: rotating 1.5s linear infinite;
    -moz-animation: rotating 1.5s linear infinite;
    animation: rotating 1.5s linear infinite;
}
.button{
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
    cursor: pointer;
    font-size: 0;
    border: none;
    border-radius: 75px;
    background: url('../images/buttons.png') no-repeat;
}
.button:hover, .button:active{
    -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
    -moz-box-shadow: inset 0px 0px 0px 2px #fff;
    box-shadow: inset 0px 0px 0px 2px #fff;
}
#continue_btn{
    background-position-x: 0%;
    margin-bottom: 10px;
}
#skip_btn{
   background-position-x: 33.3%;
}
#play_btn{
    background-position-x: 66.6%;
}
#promotions_btn{
    background-position-x: 100%;
}
div.reg-input {
    margin: 10px 0 20px 0;
    position: relative;
}
.reg-input-text{
    padding: 2%;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    width: 95%;
    border: 2px solid rgba(201, 190, 62, 0.82);
    background: linear-gradient(to bottom, #558c3a 0%, #87e857 100%);
    background: -webkit-linear-gradient(top, #558c3a 0%, #87e857 100%);
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 0 2px rgba(66, 39, 0, 0.53), 0 0 0 4px rgba(255, 232, 102, 0.41);
}
.reg-input-text:focus { 
    outline: none;
    box-shadow: 0 0 0 2px rgba(66, 39, 0, 0.70), 0 0 0 4px rgb(208, 187, 67);
}
input[type="submit"]{
    border: 2px solid rgba(201, 190, 62, 0.82);
    font-family: Topic;
    cursor: pointer;
    padding: 4px;
    float: right;
    margin-top: 20px;
    color: #fff;
    border-radius: 4px;
    font-size: 22px;
    letter-spacing: 2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.53);
    width: 93PX;
    box-shadow: 0 0 0 2px rgba(66, 39, 0, 0.53), 0 0 0 4px rgba(255, 232, 102, 0.41);
    background: linear-gradient(to bottom, #558c3a 0%, #6dbf44  100%);
    background: -webkit-linear-gradient(top, #558c3a 0%, #6dbf44  100%);
}
input[type="submit"]:hover, input[type="submit"]:active{
    background: linear-gradient(to bottom, #335522 0%, #60a93b 100%);
    background: -webkit-linear-gradient(top, #335522 0%, #60a93b 100%);
}
div.input-error{
    position: absolute;
    width: 251px;
    font-size: 14px;
    min-height: 50px;
    color: #fff;
    padding: 8px;
    background: linear-gradient(top, #db0000 0%, #fc1f1f 100%);
    background: -webkit-linear-gradient(top, #db0000 0%, #fc1f1f 100%);
    top: 46px;
    box-sizing: border-box;
    left: 0px;
    border-radius: 3px;
    z-index: 2;
}
div.input-error span{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    position: absolute;
    top: -5px;
    left: 10px;
    border-color: transparent transparent #db0000  transparent;
}
.input-error-field{
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 1), 0 0 0 4px rgba(255, 232, 102, 0.41) !important;
}
div.input-error span:before{
    border: 1px solid #a16106;
}
.terms-text{
    display: inline-block;
    color: #fff;
    font-size: 21px;
    text-shadow: 0 2px 2px #000;
    letter-spacing: 1px;
    font-family: Topic;
}
.terms-text a{
    color: #f5f6a4;
    text-shadow: none;
}
.terms-text .show-bonus-code{
    cursor:pointer; 
    color: #53fe00; 
    text-shadow: none;
}
.terms-text .show-bonus-code:hover{
    text-decoration: underline;
}
#terms{
    margin: 0;
}
/* end .right-scide - Registration Form */
/* #footer */
#footer {
    padding: 30px 20px 20px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Topic;
    display: table;
    background: rgb(254,252,234);
    background: -moz-linear-gradient(top, rgb(217, 149, 26) 0%, rgba(241,218,54,1) 100%);
    background: -webkit-linear-gradient(top, rgb(217, 149, 26) 0%,rgba(241,218,54,1) 100%);
    background: linear-gradient(to bottom, rgb(217, 149, 26) 0%,rgba(241,218,54,1) 100%);
    width: 100%;
    box-sizing: border-box;
    color: #6c4a01;
}
#footer.active{
    position: fixed;
    top:100%;
}
#footer .copy-right, #footer .footer-menu{
    display: table-cell;
    position: relative;
}

#footer .footer-menu{
    text-align: right
}
.footer-menu ul{
    list-style-type: none;
}
.footer-menu li{
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.footer-menu li a{
    color: #6c4a01;
}
/* end #footer */
.mobile-icon{
    position: relative;
    padding-left: 20px;
    height: 33px;
    width: 33px;
    cursor: pointer;
}
.close-mobile-icon{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    cursor: pointer;
}
.close-mobile-icon:hover::before, .close-mobile-icon:hover::after {
    background: #0055a7;;
}
.close-mobile-icon::before, .close-mobile-icon::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
}
.close-mobile-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-mobile-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-icon:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 20px;
    width: 33px;
    height: 4px;
    border-top: 10px double #ffe5ab;
    border-bottom: 3px solid #ffe5ab;
}
.mobile-menu{
    position: absolute;
    z-index: 2;
    width: 280px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.mobile-menu .menu{
    margin: 10px 0 0 0;
        list-style-type: none;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 2px;
}
.mobile-menu ul.menu>li{
    display: block;
}
.mobile-menu  .menu-hover{
    display: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b8e6a2;
    font-size: 16px;
    letter-spacing: 1px;
    text-shadow: none;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #b8e6a2;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #b8e6a2;
}
:-moz-placeholder { /* Firefox 18- */
    color: #b8e6a2;
}
/* .checkbox */
.checkbox {
    width: 28px;
    height: 28px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    background: #fcfff4;
    background: -webkit-linear-gradient(#fcfff4 0%, #ffdd7f 40%, #d88104 100%);
    background: -o-linear-gradient(#fcfff4 0%, #ffdd7f 40%, #d88104 100%);
    background: linear-gradient(#fcfff4 0%, #ffdd7f 40%, #d88104 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 3px 5px rgba(61, 37, 6, 0.81);
}
.checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: -webkit-linear-gradient(top, #246400 0%, #9ddc7e 100%);
    background: linear-gradient(to bottom, #246400 0%, #9ddc7e 100%);
    border-radius: 50px;
    box-shadow: inset 0px 2px 1px rgb(84, 61, 32), 0px 1px 0px #faf0d8;
}
.checkbox label:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #0054a6;
    background: -webkit-linear-gradient(top, #0054a6 0%, #347a99 100%);
    background: linear-gradient(to bottom, #0054a6 0%, #347a99 100%);
    opacity: 0;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgb(6, 31, 81);
}
.checkbox label:hover::after {
    opacity: 0.3;
}
.checkbox input[type=checkbox] {
    visibility: hidden;
}
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
/* end .checkbox */

/*  Resposnive */
@media screen and (max-width: 1080px) {
    .left-acide {
        width: 350px;
    }
    .inform{
        font-size: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .left-acide {
        display: none;
    }
    .inform{
        padding: 50px;
    }
}
@media screen and (max-width: 680px) {
    .right-acide, .middle-section{
        display: block;
        margin: 0 auto;
    }
    .inform, #header, .footer-menu{
        display: none !important;
    }
    .mobile-icon{
        display: block !important;
    }
    #footer .copy-right{
        text-align: center;
    }
    .middle-section{
        padding: 5px;
    }
    .right-acide{
        padding: 0;
    }
    .reg-input-text{
        margin: 0;
    }
    .wrapper{
        position: relative !important;
        display: block !important;
        margin-top: 0px !important;
    }
    .inform{
        padding: 0px;
    }
    .right-acide h3, p {
        padding: 0 0 5px 0;
    }
}
@media screen and (max-width: 340px) {
    .right-acide {
        min-width: 274px;
    }
}
/* End Resposnive */